sway-dotfiles/cfg/mpv/watch_later/
sway-dotfiles/cfg/qutebrowser/catppuccin/__pycache__/
sway-dotfiles/cfg/qutebrowser/catppuccin/__pycache__/__init__.cpython-310.pyc
sway-dotfiles/cfg/qutebrowser/catppuccin/__pycache__/setup.cpython-310.pyc
sway-dotfiles/cfg/qutebrowser/autoconfig.yml
